/* COLOR DEFINITIONS FOR APP COMPONENTS */

/*
COLORS

#C1B4A4
#B19774
#372E29
#4D3F2E
#DBCAAE

*/

#header{
    background-color: #DBCAAE;
    color: #372E29;
}

#navbar{
    background-color: #B19774;
    color: #372E29;
}
#navbar p *{
    color: #372E29;
}

#footer{
    background-color: #DBCAAE;
    color: #372E29;
}
.line{
    background-color: #B19774;
}


#home{
 background-color: #C1B4A4;
}


#about{
    background-color: #C1B4A4;
}
.info{
    background-color: #DBCAAE;
    color: #372E29; 
    border-color: #372E29;
}
.infobox{
    background-color: #DBCAAE;
    border-color: #372E29;
    color: #372E29;
}


#gif{
    background-color: #C1B4A4;
}
#fullscreengif{
    background-color: #000000cc;
}