/* COLOR DEFINITIONS FOR APP COMPONENTS */

/*
COLORS

#C1B4A4
#B19774
#372E29
#4D3F2E
#DBCAAE

*/

body{
    background-color: #C1B4A4;
}

#header{
    background-color: #DBCAAE;
    color: #372E29;
}

#navbar{
    background-color: #B19774;
    color: #372E29;
}
#navbar p *{
    color: #372E29;
}
#navbar p:hover *{
    background-color: #4D3F2E ;
    color: #DBCAAE;
}

#footer{
    background-color: #DBCAAE;
    color: #372E29;
}
#line{
    background-color: #B19774;
}


.catbttn{
    background-color: #DBCAAE;
    color: #372E29;
    border: #4D3F2E;
}
.catbttn:hover{
    background-color: #4D3F2E ;
    color: #DBCAAE;
    border-color: #4D3F2E;
}


.info{
    background-color: #DBCAAE;
    color: #372E29; 
    border-color: #372E29;
}
.infobox{
    background-color: #DBCAAE;
    border-color: #372E29;
    color: #372E29;
}



#fullscreengif{
    background-color: #000000cc;
}