/* STYLE DEFINITIONS FOR APP COMPONENTS */

#header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
}

#navbar{
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbar p:hover{
    box-shadow: 0px 0px 10px;
}
#navbar p *{
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
}
#line{
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 25px;
}
#footer p{
    margin-left: 100px;
}




#home{
    height: calc(100vh - 150px);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: auto;
}
#catimg{
    width: auto;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}
#catbttn{
    position: relative;
    left: calc(50% - 75px);
    width: 150px;
    height: 30px;
    border: 2px solid;
    border-radius: 10px;
}


#about{
    height: 100vh;
    overflow-y: auto;
}
.info{
    padding: 20px 0;
    text-align: center;
    border: 2px solid;
}
.info:hover{
    box-shadow: 0px 0px 10px;
}
.infobox{
    position: relative;
    top: 150px;
    width: 300px;
    border: 2px solid;
    border-collapse: collapse;
    left: calc(50vw - 152px)
}
.infobox:hover{
    box-shadow: 0px 0px 10px;
}
.infobox *{
    padding: 10px;
    border: 2px solid;
    border-collapse: collapse;
}


#gif{
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
}
#fullscreengif{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.gif{
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.fullscreen{
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: 1;
}

/* WIDE // THIN */
@media only screen and (min-width: 800px){
    #header h1{
        font-size: 48px;
    }   
    #navbar{
        width: 60%;
        padding: 0 20%;
    }
    #navbar p{
        height: 25px;
        width: 150px;
        border-left: 1px solid;
        border-right: 1px solid;
    }
    #catimg{
        width: 100%;
    }
    .info{
        width: calc(100vw - 400px);
        margin: 0 200px;
        font-size: 24px !important;
    }
}
@media only screen and (max-width: 800px){
    #header h1{
        font-size: 36px;
    }   
    #navbar{
        width: 100%;
    }
    #navbar p{
        height: 25px;
        width: calc(100%/3 - 2px);
        border-left: 1px solid;
    }
    #catimg{
        height: 60%;
    }
    .info{
        width: calc(100vw - 10%);
        margin: 0 5%;
        font-size: 18px;
    }
}

/* TALL // SHORT */
@media only screen and (min-height: 600px){
    #catimg{
        width: auto;
        height: 100%;
    }
    #catbttn{
        top: 100px;
    }
    .container{
        position: relative;
        top: 50px;
    }

    .info{
        position: relative;
        top: 50px;
        font-size: 18px;
    }
    .infobox{
        position: relative;
        top: 100px;
    }
}
@media only screen and (max-height: 600px){
    #catimg{
        width: auto;
        height: 60%;
        position: relative;
        top: -15%
    }
    #catbttn{
        bottom: 100px;
    }
    .info{
        position: relative;
        top: 20px;
        font-size: 18px;
    }
    .infobox{
        position: relative;
        top: 50px;
    }

    #about{
        min-height: 400px;
    }
}