#header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
#header h1{
    font-size: 48px;
}

#navbar{
    width: 100%;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
}
.line{
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 25px;
}
#footer p{
    margin-left: 100px;
}




#home{
   height: calc(100vh - 150px);
}
#about{
    height: calc(100vh - 150px);
}
.info{
    position: relative;
    top: 50px;
    width: calc(100vw - 400px);
    margin: 0 200px;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    border: 2px solid;
}
.infobox{
    position: relative;
    top: 150px;
    width: 200px;
    border: 2px solid;
    border-collapse: collapse;
    left: calc(50vw - 102px)
}
.infobox *{
    border: 2px solid;
    border-collapse: collapse;
}